doctype html
html(lang='en')
    head
        title Number
    body
        form(action='/sendOTP', method='post')
            input(type='text', name='number', placeholder='your number')
            input(type='submit', value='verify')
