doctype html
html(lang='en')
    head
        title enter OTP
    body
        form(action='/verifyOTP', method='post')
            input(type='text', name='number', placeholder='OTP')
            input(type='submit', value='Verify PIN')
